.aboutSpan1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 5rem;

  font-size: 1rem;
  font-weight: 400;
}

.aboutSpan2 {
  display: flex;
  justify-content: center;

  font-size: 1rem;
  font-weight: 400;
}

.githubA {
  display: flex;
  justify-content: center;

  padding-top: 2rem;
  font-size: 1rem;
}
.aboutImg{
  width: 10rem;

  border:rgb(250, 70, 100) solid 1px;
  border-radius: .2rem;
}