.divHome {
  display: flex;
  flex-direction: column;
}

.h1Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding: 0;
  margin: 0;
  padding-top: 3rem;

  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;

}

.h2Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding: 0;
  margin: 0;
  padding-bottom: 2rem;

  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;

}

.aboutSpan1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: .9rem;
  font-weight: 400;

  padding-top: 2rem;
  width: 60vw;
}

.divAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10rem;

  border:rgb(250, 70, 100) solid 1px;
  border-radius:  50%;
}

.titleSpan {
  font-size: 2.5rem;
  padding:0;
  margin:0;
}

.divProjects {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #050505;
  color: rgb(250, 70, 100);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.projectsSpan1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
}


.projectsSpan1 img {
  border:rgb(250, 70, 100) solid 1px;
  border-radius: .2rem;

  width: 21rem;
  height: 10rem;

  object-fit: cover;
}

.projectTitle {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: .5rem;
}

.projectItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2rem;
}

.projectP {
  font-size: .9rem;
  margin: 0;
  padding: 0;
  padding-top: .5rem;
}

.projectA{
  margin: 0;
  padding: 0;
  padding-bottom: .5rem;
}

.contactSpan1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 1rem;

  font-size: 1rem;
  font-weight: 400;
}

.contactSpan2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

