.h1Home {
  padding: 0;
  margin: 0;
  padding-top: 3rem;

  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.h2Home {
  padding: 0;
  margin: 0;
  padding-bottom: 2rem;

  font-size: 1.1rem;
  font-weight: 600;
}

.divAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.aboutSpan1 {
  font-size: .9rem;
  font-weight:400;

  margin:0;
  padding:0;
  padding-top: 2rem;
  width: 80vw;
}

.aboutImg{
  width: 10rem;

  border:rgb(250, 70, 100) solid 1px;
  border-radius:  50%;
}


.divContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 1rem;

  font-size: 1rem;
  font-weight: 400;
}

.titleSpan {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  
  padding:0;
  margin:0;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.divProjects {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.projectsSpan1 {
  flex-wrap: wrap;
  width: 80vw;
}

.projectsSpan1 img {
  border:rgb(250, 70, 100) solid 1px;
  border-radius: .2rem;
  object-fit: fill;

  width: 21rem;
  height: 10rem;

  object-fit: cover;
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: 600;

  margin: 0;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.projectItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem;

  padding-bottom: 3rem;
}

.projectP {
  font-size: .8rem;
  font-weight: 400;

  margin: 0;
  padding: 0;
  padding-top: .5rem;
}

.projectA{
  margin: 0;
  padding: 0;
  padding-bottom: .5rem;
}

.techSpanTitle {
  padding: 0;
  margin: 0;
  padding-top: 1rem;

  font-weight: 600;
  text-decoration: underline;
}

.techSpanp {
  font-size: .8rem;
  font-weight: 400;
  text-align: left;

  margin: 0;
  padding-top: .7rem;
}




