.Header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
}

a {
  color: rgb(250, 70, 100);
  font-size: .7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .7rem;

  text-decoration: none;
}