img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border:rgb(250, 70, 100) solid 1px;
  border-radius: .2rem;
}

.galleryGrid{
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.moreButton {
  background-color: rgb(0,0,0);
  color: rgb(250, 70, 100);
  border: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: 400;
  font-size: .7rem;
  padding: .5rem;
  display: flex;
  cursor: pointer;
}