body {
  height: 100vh;
  background-color: #050505;
  color: rgb(250, 70, 100);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
